

.banner-sec {
    background: url(../../assets/images/banner4.jpg) no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
}

.banner-sec:before {
    content: "";
    background: rgb(0 0 0 / 55%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.banner-sec .new-block {
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.banner-sec .middle-section h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
}

.banner-sec .video-info p {
    color: #fff;
    opacity: 0.8;
}

.banner-sec span.video-play-icon {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
}

.banner-sec span.video-play-icon span {
    color: var(--primary-color);
}

.banner-sec span.video-play-icon:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.banner-sec span.fa.fa-play {
    line-height: 55px;
}

.banner-sec .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}

@media (max-width: 800px) {
    .banner-sec .middle-section h2 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 667px) {
    .banner-sec .middle-section h2 {
        font-size: 32px !important;
        line-height: 42px;
    }

    .banner-sec .play-view {
        left: 0;
        right: 0;
        top: calc(50% - 28px);
    }
}

