.light-theme {
  --primary-color: #30b300;
  --secondary-color: #08b40b;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #252422;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, .05);
  --bg-layer: rgb(0 0 0 / 55%);
  --bg-grey: #f7f7f7;
  --footer-bg: #0f1113;
  --card-bg: #fff;
}

.dark-theme {
  --primary-color: #30b300;
  --secondary-color: #08b40b;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-radius: 6px;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-layer: rgb(0 0 0 / 75%);
  --bg-light: #282828;
  --bg-grey: #282828;
  --card-bg: #888c96;
  --footer-bg: #0f1113;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  background: var(--bg-grey);
  color: var(--font-color);
  font-family: 'Hind Siliguri', sans-serif;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

button,
input,
select,
label,
li,
span {
  -webkit-appearance: none;
  outline: none;
  font-family: 'Hind Siliguri', sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

iframe {
  border: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  opacity: .8;
  font-family: 'Hind Siliguri', sans-serif;
}

li {
  list-style-type: none;
}

.btn-style {
  padding: 12px 45px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.btn-style.btn-white {
  background: #fff;
  color: var(--primary-color);
  border-color: transparent;
}

.btn-style:hover {
  border-color: transparent;
  background: var(--secondary-color);
  color: var(--font-color);
}


.btn-style.btn-white:hover {
  border-color: transparent;
  background: var(--primary-color);
  color: #fff;
}

.btn-outline-border {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-outline-border:hover {
  background: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}

.transparent-btn {
  background: rgba(255, 255, 255, 0.25);
}

.btn-white {
  padding: 12px 32px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--primary-color);
}

.grids-gap {
  padding-top: 20px;
}

.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-decoration: none;
  color: var(--font-color);
}

.title-w3l.two,
.test-p {
  color: #fff;
}

.title-left {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}

.title-subhny,
.title-subhny.two {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.title-subhny span,
.title-subhny.two,
.title-subhny.three span {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 42px;
  letter-spacing: .5px;
  color: var(--primary-color);
  padding-left: .83em;
}

.title-subhny.two span {
  color: #fff;
}

.title-subhny.three {
  color: var(--primary-color);
}

.title-subhny span::before {
  content: "";
  display: block;
  background: #daffcc;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  z-index: -1;
  top: -6px;
  border-radius: 6px;
}

.title-subhny.two span::before,
.title-subhny.three span::before {
  content: "";
  display: block;
  background: rgb(255 255 255 / 25%);
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  z-index: -1;
  top: -6px;
  border-radius: 6px;
}

@media (max-width: 1080px) {

  .title-w3l,
  .title-w3l.two {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media (max-width: 736px) {
  .title-left {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 568px) {

  .title-w3l,
  .title-w3l.two {
    font-size: 30px !important;
    line-height: 38px;
  }

  p {
    font-size: 16px;
  }

  .title-subhny span,
  .title-subhny.two,
  .title-subhny.three span {
    font-size: 16px;
    line-height: 29px;
  }
}

@media (max-width: 440px) {

  .title-w3l,
  .title-w3l.two {
    font-size: 28px !important;
    line-height: 36px;
  }

  p {
    font-size: 16px;
  }

  .btn-white,
  .btn-style {
    padding: 10px 35px;
    font-size: 16px;
  }

  .title-left {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 375px) {

  .btn-white,
  .btn-style {
    font-size: 16px;
  }

  .title-w3l,
  .title-w3l.two {
    font-size: 26px !important;
    line-height: 32px;
  }

  .title-subhny {
    font-size: 16px !important;
    letter-spacing: .5px;
  }
}